Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.gitmodules
README.md
LICENSE
.vscode
__pycache__
*.py[cod]
*$py.class
*.egg-info
testdata/*.zip
testdata/*.gpkg
testdata/*.geojson
testdata/order_*
testdata/prepare_*